body{
    background-color:rgb(14, 245, 245);
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: antiquewhite;
    width:90%;
    max-width:450px;
    text-align: center;
    font-size:1em;
    font-weight: 300px;
    margin:28px;
    padding:28px;
    border-radius: 10px;
    /* box-shadow:0,10px,10px rgb(0,0,0);  */


    
}
.input{
    width:200px;
    padding:20px;
}
.button{
    width:120px;
    height:40px;
}



